<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freshsusion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body onload='if (window.location.href.substr(window.location.href.length - 6) == "#about") { introAboutLogoTransition(); }'>
<nav class="navbar" style="height: 70px;">
    <span><a href='\' style="display:flex; align-items: center;"><img class="img2" src="https://cdn0.iconfinder.com/data/icons/hotel-filled-colour-0910-1/512/laundry-machine-washer-Clothes_washer-wash-1024.png" width="40"
        ><h1 class="logo">&nbsp;FreshFusion</h1></a></span>
    <ul class="nav-links">
        <li><a href="\" id="pri" class="active cir_border">Home</a></li>
        <li><a href="login" id="quad" class="cir_border">Login</a></li>
        <li><a href="order"  id="sec" class="cir_border">Order</a></li>
        <li><a href="services" id="tri" class="cir_border">Services</a></li>
        <li><a href="aboutus" id="hex" class="cir_border">About Us</a></li>
        <li><a href="rate" id="hex" class="cir_border">Reviews</a></li>
    </ul>
    
</nav>
</body>
</html>