
    <!DOCTYPE html>
    <html>
    <head>
        <title>Order</title>
        <link rel="stylesheet" type="text/css" href="order.css">
    </head>
    <body>

        <%- include('navbar.ejs') %>

        <main>
            
        </main>
        <div class="container">
            <h1><script type="text/javascript" src="https://form.jotform.com/jsform/241020934029447"></script></h1>
        </div>
        
        <footer>
            <p>&copy; 2022 My Web Page. All rights reserved.</p>
        </footer>
    </body>
    </html>
